= content_for :body do
  - 'black-bg'

= render 'devise/shared/error_messages', resource: resource

.row.align-items-center.justify-content-center.full-height
  .col-md-4.align-self-center
    .sr-only
      %h2= t('.resend_confirmation_instructions')

    = form_for(resource,
      as: resource_name,
      url: confirmation_path(resource_name),
      html: { method: :post }) do |f|

      :ruby
        value = if resource.pending_reconfirmation?
                  resource.unconfirmed_email
                else
                  resource.email
                end

      .form-group
        = f.label :email, class: 'sr-only'
        = f.email_field :email,
          autofocus: true,
          autocomplete: 'email',
          class: 'form-control',
          value: value,
          placeholder: t('activerecord.attributes.usuarie.email')
      .actions
        = f.submit t('.resend_confirmation_instructions'),
          class: 'btn btn-secondary btn-lg btn-block'
    = render 'devise/shared/links'
