-# Componente Remote_Profile

- uri = text_plain(remote_profile['id'])

.py-2
  %dl
    %dt= t('.profile_name')
    %dd= text_plain remote_profile['name']

    %dt= t('.preferred_name')
    %dd= text_plain remote_profile['preferredUsername']

    %dt= t('.profile_id')
    %dd
      = link_to uri, uri

    - if remote_profile['published'].present?
      %dt= t('.profile_published')
      %dd
        = render 'layouts/time', time: text_plain(remote_profile['published'])
    %dt= t('.profile_summary')
    %dd= sanitize remote_profile['summary']
