-# Componente Botón general Moderación

- local_assigns[:method] ||= 'patch'
- local_assigns[:class]    = "btn #{local_assigns[:class]}"
- local_assigns.delete(:text)

= button_to(path, **local_assigns.compact) do
  = text
