-# Componente Checkbox
- local_assigns[:name] ||= id

.custom-control.custom-checkbox
  %input.custom-control-input{ type: 'checkbox', id: id, **local_assigns.compact }
  %label.custom-control-label{ for: id }= yield
