-#
  @params form [String]

- current_state = params[:activity_pub_state]&.to_sym || ActivityPub.states.first

.d-flex.flex-row.justify-content-between.py-2
  - if ActivityPub.transitionable_events(current_state).present?
    = render 'components/dropdown', text: t('.text_checked') do
      = render 'components/comments_checked_submenu', form: form

  = render 'components/dropdown', text: t('.text_show') do
    = render 'components/comments_show_submenu', activity_pubs: activity_pubs
