- ActivityPub.states.each do |state|
  = render 'components/dropdown_item',
    text: t(".submenu_#{state}", count: activity_pubs.unscope(where: :aasm_state).public_send(state).count),
    path: filter_states(activity_pub_state: state),
    class: ('active' if active?(ActivityPub.states, :activity_pub_state, state))
