-#
  @param form [String]

- current_state = params[:activity_pub_state]&.to_sym || ActivityPub.states.first

- ActivityPub.aasm.events.each do |event|
  - next if ActivityPub::IGNORED_EVENTS.include? event.name
  - next unless event.transitions_from_state?(current_state)
  = render 'components/dropdown_button', form: form, text: t(".submenu_#{event.name}"), name: 'activity_pub_action', value: event.name
