-#
  @param :text [String] Contenido del link
  @param :path [String,Hash] Link
- local_assigns[:class] = "dropdown-item #{local_assigns[:class]}"
= link_to text, path, class: local_assigns[:class], data: { 'dropdown-target': 'item' }
