- InstanceModeration.states.each do |state|
  = render 'components/dropdown_item',
    text: t(".submenu_#{state}", count: instance_moderations.unscope(where: :aasm_state).public_send(state).count),
    path: filter_states(instance_state: state),
    class: ('active' if active?(InstanceModeration.states, :instance_state, state))
