-#
  @params form [String]

- ActorModeration.transitionable_events(current_state).each do |actor_event|
  = render 'components/dropdown_button', text: t(".submenu_#{actor_event}"), name: 'actor_moderation_action', value: actor_event, form: form
