- if @site
  = cache @site do
    :plain
      window.env = {
        AIRBRAKE_PROJECT_ID: #{@site.id},
        AIRBRAKE_PROJECT_KEY: "#{@site.airbrake_api_key}",
        PANEL_URL: "#{ENV['PANEL_URL']}"
      }
