%h1= @hi

= sanitize_markdown @explanation, tags: %w[p a strong em]

%table
  %thead
    %tr
      - @headers.each do |header|
        %th= header
  %tbody
    - @table.each do |row|
      - row[:urls].each do |url|
        %tr
          %td= row[:title]
          %td= row[:status]
          %td= link_to_if (url.present? && url.scheme.present?), url.to_s, url.to_s
          %td
            %time{ datetime: row[:seconds][:machine] }= row[:seconds][:human]
          %td= row[:size]

= sanitize_markdown @help, tags: %w[p a strong em]
