- breadcrumb 'sites.index', sites_path

= content_for :body do
  - 'black-bg'

= render 'devise/shared/error_messages', resource: resource

.row.align-items-center.justify-content-center.full-height
  .col-md-6.align-self-center
    %h2= t('.title')
    = form_for(resource,
      as: resource_name,
      url: registration_path(resource_name),
      html: { method: :put }) do |f|

      .form-group
        = f.label :email
        = f.email_field :email, autofocus: true, autocomplete: 'email',
          class: 'form-control'
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          = t('.currently_waiting_confirmation_for_email',
            email: resource.unconfirmed_email)

      .form-group
        = f.label :lang
        = f.select :lang,
          I18n.available_locales.map { |lang| [t(lang), lang] }, {},
          class: 'form-control'

      .form-group
        = f.label :password
        = f.password_field :password, autocomplete: 'new-password',
          class: 'form-control', aria: { describedby: 'password-help' }
        %small.text-muted.form-text#password-help
          = t('.leave_blank_if_you_don_t_want_to_change_it')
          - if @minimum_password_length
            = t('devise.shared.minimum_password_length',
              count: @minimum_password_length)

      .form-group
        = f.label :password_confirmation
        = f.password_field :password_confirmation,
          autocomplete: 'new-password',
          class: 'form-control'

      .form-group
        = f.label :current_password
        = f.password_field :current_password,
          autocomplete: 'current-password',
          required: true,
          class: 'form-control',
          aria: { describedby: 'current-password-help' }
        %small.text-muted.form-text#current-password-help
          = t('.we_need_your_current_password_to_confirm_your_changes')
      .actions
        = f.submit t('.update'),
          class: 'btn btn-secondary btn-lg btn-block'
    %hr/

    .sr-only
      %h3= t('.cancel_my_account')
    = button_to t('.cancel_my_account'),
      registration_path(resource_name),
      data: { confirm: t('.are_you_sure') },
      method: :delete, class: 'btn btn-secondary btn-block'
