-#
  Un botón

  @param :content [String] Contenido
  @param :action [String] Acción de Stimulus
  @param :target [String] Objetivo de Stimulus
  @param [Hash] Atributos en bruto, con mayor prioridad que action y target
:ruby
  attributes = local_assigns.to_h.except(:content)
  attributes[:data] ||= {}
  attributes[:data][:action] ||= local_assigns[:action]
  attributes[:data][:target] ||= local_assigns[:target]
%button.btn.btn-secondary{ type: 'button', **attributes }= content
