.card{ **local_assigns.except(:image, :description) }
  - if local_assigns[:image]
    = image_tag url_for(local_assigns[:image]), alt: local_assigns[:description], class: 'img-fluid'

  .card-body
    .card-title= title

    = yield
