:ruby
  help_id = "#{id}_help"
  checkbox_attributes = local_assigns.slice(:id, :type, :name, :value, :required, :checked, :data, :disabled)
  checkbox_attributes[:type] ||= 'checkbox'

.custom-control{ class: "custom-#{checkbox_attributes[:type]}" }
  %input.custom-control-input{ **checkbox_attributes }
  %label.custom-control-label{ for: id, aria: { describedby: help_id } }= content
  - if (block = yield).present?
    %small.form-text.text-muted{ id: help_id }= block
