- invite_as = t("usuaries.invite_as.#{params[:invite_as]}")

.row.justify-content-center
  .col.col-md-8
    %h1= t('.title', invite_as: invite_as)

    = form_with url: site_usuaries_invite_path(@site), local: true do |f|
      = f.hidden_field :invited_as, value: params[:invite_as].singularize
      .form-group
        = f.label :invitaciones do
          = t('.invitaciones')
          %small.text-muted.form-text= t('.help.invitaciones',
            invite_as: invite_as)
        = f.text_area :invitaciones, class: 'form-control'
      .form-group
        = f.submit t('.submit'), class: 'btn btn-secondary'
