-# Formulario para "alojar" en un zip

.row
  .col
    = deploy.hidden_field :id
    = deploy.hidden_field :type

    .custom-control.custom-switch
      -#
        El checkbox invierte la lógica de destrucción porque queremos
        crear el deploy si está activado y destruirlo si está
        desactivado.
      = deploy.check_box :_destroy,
        { checked: deploy.object.persisted?, class: 'custom-control-input' },
        '0', '1'
      = deploy.label :_destroy, class: 'custom-control-label' do
        %h3= t('.title')
    -# TODO: secar la generación de URLs
    - name = site.name || t('.ejemplo')
    = sanitize_markdown t('.help',
      fqdn: deploy.object.site.hostname,
      file: deploy.object.file || "#{name}.zip"),
      tags: %w[p strong em a]
%hr/
