.form-group
  = label_tag "#{base}_#{attribute}", post_label_t(attribute, post: post)
  = select_tag(plain_field_name_for(base, attribute),
    options_for_select(metadata.values, metadata.value),
    **field_options(attribute, metadata), include_blank: t('.empty'))
  = render 'posts/attribute_feedback',
    post: post, attribute: attribute, metadata: metadata
