.form-group
  = label_tag "#{base}_#{attribute}" do
    %abbr{ title: t('lockbox.help.description') }
      &#128274;
      %span.sr-only= t('lockbox.help.title')
    = post_label_t(attribute, post: post)
  = text_area_tag "#{base}[#{attribute}]", metadata.value,
    dir: dir, lang: locale,
    **field_options(attribute, metadata)
  = render 'posts/attribute_feedback',
    post: post, attribute: attribute, metadata: metadata
