.form-group
  = label_tag "#{base}_#{attribute}", post_label_t(attribute, post: post)
  = number_field base, attribute, value: metadata.value, step: metadata.step,
    **field_options(attribute, metadata)
  = render 'posts/attribute_feedback',
    post: post, attribute: attribute, metadata: metadata
