- nested_post = metadata.has_one || site.posts(lang: locale).build(layout: metadata.nested)
- base = "#{base}[#{metadata.name}]"

.form-group
  = render 'layouts/details', id: metadata.nested, summary: site.layouts[metadata.nested].humanized_name do
    = render 'posts/attributes_nested', site: site, post: nested_post, dir: dir, base: base, locale: locale, inverse: metadata.inverse
