- if site.locales.count > 1
  %fieldset
    %legend= post_label_t(attribute, post: post)

    = render 'posts/attribute_feedback',
      post: post, attribute: attribute, metadata: metadata

    - site.locales.each do |locale|
      - next if locale == post.locale.value
      - locale_t = t("locales.#{locale}.name", default: locale.to_s.humanize)
      - value = metadata.value.find do |v|
        - metadata.values[locale]&.values&.include?(v)

      .form-group
        = label_tag "#{base}_#{attribute}_#{locale}", locale_t

        = select_tag("#{plain_field_name_for(base, attribute)}[]",
          options_for_select(metadata.values[locale] || {}, value),
          **field_options(attribute, metadata), include_blank: t('.empty'))
