- unless post.new?
  .form-group
    = label_tag "#{base}_#{attribute}", post_label_t(attribute, post: post)
    = text_field base, attribute, value: metadata.value,
      dir: dir, lang: locale,
      **field_options(attribute, metadata)
    = render 'posts/attribute_feedback',
      post: post, attribute: attribute, metadata: metadata
