= content_for :body do
  - 'black-bg'

= render 'devise/shared/error_messages', resource: resource

.row.align-items-center.justify-content-center.full-height
  .col-md-5.align-self-center
    .sr-only
      %h2= t('.change_your_password')
      %p= t('.help')

    = form_for(resource, as: resource_name,
      url: password_path(resource_name),
      html: { method: :put }) do |f|

      = f.hidden_field :reset_password_token

      .form-group
        = f.label :password, t('.new_password'), class: 'sr-only'
        = f.password_field :password,
          autofocus: true,
          autocomplete: 'new-password',
          class: 'form-control', min: @minimum_password_length,
          aria: { describedby: 'minimum_password_length' },
          placeholder: t('.new_password')
        - if @minimum_password_length
          %small.form-text.text-muted
            = t('devise.shared.minimum_password_length',
              count: @minimum_password_length)

      .form-group
        = f.label :password_confirmation, t('.confirm_new_password'),
          class: 'sr-only'
        = f.password_field :password_confirmation, autocomplete: 'off',
          class: 'form-control',
          min: @minimum_password_length,
          aria: { describedby: 'minimum_password_length' },
          placeholder: t('.confirm_new_password')

      .actions
        = f.submit t('.change_my_password'),
          class: 'btn btn-secondary btn-lg btn-block'

    = render 'devise/shared/links'
