%tr{ id: attribute }
  %th= post_label_t(attribute, post: post)
  %td{ dir: dir, lang: locale }
    - p = site.indexed_posts.find_by_post_id(metadata.value)
    - if p
      = link_to p.title, site_post_path(site, p.path)
