%tr{ id: attribute }
  %td{ dir: dir, lang: locale, colspan: 2 }
    - if (p = metadata.has_one)
      = render 'layouts/details', details_class: '', summary_class: 'font-weight-bold', summary: post_label_t(attribute, post: post) do
        .mt-3
          = render 'posts/table', site: site, post: p, dir: dir, locale: locale, title: p.layout.humanized_name
