- if site.locales.count > 1
  %tr{ id: attribute }
    %th= post_label_t(attribute, post: post)
    %td
      %ul
        - metadata.value.each do |uuid|
          - p = site.indexed_posts.find_by(post_id: uuid)
          %li{ dir: t("locales.#{p.locale}.dir"), lang: p.locale }
            = link_to p.title,
              site_post_path(site, p.path, locale: p.locale)
