%tr{ id: attribute }
  %th= post_label_t(attribute, post: post)
  %td
    %ul{ dir: dir, lang: locale }
      - site.indexed_posts.where(locale: post.lang.value, post_id: metadata.value).find_each do |p|
        -#
          XXX: Ignorar todos los posts no encontrados (ej: fueron
          borrados o el uuid cambió)
        - next unless p
        %li= link_to p.title, site_post_path(site, p.path)
