= text_area_tag field_name_for_post_as_string(name), value,
  class: 'form-control', required: template.required?,
  maxlength: template.max > 0 ? template.max : nil
- if template.max > 0
  %small= t('posts.text_area.max', max: template.max)
