-# Si el campo está anidado, la raíz del atributo name tiene que
-# contener los demás elementos del template superior
= text_field_tag field_name_for_post_as_string(name),
  value,
  class: 'form-control',
  required: template.required?
