= number_field_tag field_name_for_post_as_string(name),
  value,
  class: 'form-control',
  required: template.required?,
  list: "#{name}_years",
  min: template.min,
  max: Date.today.year

%datalist{id: "#{name}_years"}
  - (template.min..Date.today.year).to_a.each do |y|
    %option{value: y}
