-#
  @params form [String]

.row.no-gutters.pt-2
  .col-1
    = render 'components/checkbox', id: actor_moderation.id, form: form, name: 'actor_moderation[]', value: actor_moderation.id, data: { 'select-all-target': 'input' }
  .col-11
    - cache [actor_moderation, profile] do
      %h4
        = link_to text_plain(profile['name']), site_actor_moderation_path(id: actor_moderation)
      .mb-3
        = sanitize profile['summary']

    -# Botones de Moderación
    .d-flex.pb-4
      = render 'components/profiles_btn_box', actor_moderation: actor_moderation
