- form_id = 'actor_moderations_action_on_several'

= render 'components/select_all_container', path: site_actor_moderations_action_on_several_path, form: form_id

.row.no-gutters.pt-2{ data: { controller: 'select-all' } }
  .col-1.d-flex.align-items-center
    = render 'components/select_all', id: 'actors', form: form_id
  .col-11
    -# Filtros
    = render 'components/profiles_filters', actor_moderations: actor_moderations, form: form_id
  .col-12
    - if actor_moderations.count.zero?
      %h4= t('moderation_queue.nothing')
    - actor_moderations.find_each do |actor_moderation|
      - next if actor_moderation.actor.content.empty?
      %hr
      = render 'account', actor_moderation: actor_moderation, profile: actor_moderation.actor.content, form: form_id
