- form_id = 'instance_moderation_action_on_several'

%section
  = render 'components/select_all_container', path: site_instance_moderations_action_on_several_path, form: form_id
  .row.no-gutters.pt-2{ data: { controller: 'select-all' } }
    .col-1.d-flex.align-items-center
      = render 'components/select_all', id: 'instances', form: form_id
    .col-11
      -# Filtros
      = render 'components/instances_filters', instance_moderations: instance_moderations, form: form_id

    .col-12
      - if instance_moderations.count.zero?
        %h4= t('moderation_queue.nothing')

      - instance_moderations.each do |instance_moderation|
        %hr
        = render 'moderation_queue/instance', instance_moderation: instance_moderation, instance: instance_moderation.instance, form: form_id

    %hr
  %div
    %h3.mt-5= t('moderation_queue.instances.title')
    %lead= t('moderation_queue.instances.description')

    = form_tag site_fediblock_states_action_on_several_path, method: :patch do
      = render 'components/block_lists', blocklists: fediblock_states
      = render 'moderation_queue/block_instances_textarea'

      .form-group
        %button.btn.btn-secondary.mt-3{ type: 'submit' }= t('moderation_queue.instances.submit')
