.row.justify-content-center
  .col-md-8
    %h1= t('.title')
    .row
      .col
        = render 'layouts/details', id: 'summary', summary: t('.instances') do
          = render 'moderation_queue/instances', site: @site, instance_moderations: @instance_moderations, fediblock_states: @site.fediblock_states
        %hr
        = render 'layouts/details', id: 'accounts', summary: t('.accounts') do
          = render 'moderation_queue/accounts', site: @site, actor_moderations: @actor_moderations
        %hr
        = render 'layouts/details', id: 'comments', summary: t('.comments') do
          = render 'moderation_queue/comments', site: @site, moderation_queue: @moderation_queue
