= content_for :body do
  - 'black-bg'

.row.align-items-center.justify-content-center.full-height
  .col-md-5.align-self-center
    .sr-only
      %h2= t('.sign_in')
      %p= t('.help')

    = form_for(resource,
      as: resource_name,
      url: session_path(resource_name)) do |f|
      - if @site
        = hidden_field :referer, value: site_path(@site)
      .form-group
        = f.label :email, class: 'sr-only'
        = f.email_field :email,
          autofocus: true,
          autocomplete: 'email',
          class: 'form-control',
          placeholder: t('login.email')

      .form-group
        = f.label :password, class: 'sr-only'
        = f.password_field :password,
          autocomplete: 'current-password',
          class: 'form-control',
          placeholder: t('login.password')
      - if devise_mapping.rememberable?
        .form-group
          = f.check_box :remember_me, aria: { describedby: 'remember-for' }
          = f.label :remember_me
          %small.form-text.text-muted#remember-for
            = t('login.remember_me',
              remember_for: distance_of_time_in_words(Usuarie.remember_for))
      .actions
        = f.submit t('.sign_in'),
          class: 'btn btn-secondary btn-lg btn-block'
    = render 'devise/shared/links'
