= content_for :body do
  - 'black-bg'

= render 'devise/shared/error_messages', resource: resource

.row.align-items-center.justify-content-center.full-height
  .col-md-5.align-self-center
    %h2= t 'devise.invitations.edit.header'
    = form_for(resource,
      as: resource_name,
      url: invitation_path(resource_name),
      html: { method: :put }) do |f|
      = f.hidden_field :invitation_token, readonly: true
      - if f.object.class.require_password_on_accepting
        .form-group
          = f.label :password, class: 'sr-only'
          = f.password_field :password, class: 'form-control',
            min: @minimum_password_length,
            aria: { describedby: 'minimum-password-length' },
            placeholder: t('activerecord.attributes.usuarie.password')
        - if @minimum_password_length
          %small.text-muted.form-text#minimum-password-length
            = t('devise.shared.minimum_password_length',
              count: @minimum_password_length)

        .form-group
          = f.label :password_confirmation, class: 'sr-only'
          = f.password_field :password_confirmation,
            class: 'form-control',
            min: @minimum_password_length,
            aria: { describedby: 'minimum-password-length' },
            placeholder: t('activerecord.attributes.usuarie.password')
      .actions
        = f.submit t('devise.invitations.edit.submit_button'),
          class: 'btn btn-secondary btn-lg btn-block'
