-#
  Un item de un array.

  Además de los valores por defecto, se pueden pasar otros atributos
  para el div del ítem.

  @param :value [String] El valor (requerido)
  @param :human-value [String] El valor legible por humanes (opcional)
  @param :send-value [String] El valor que se envía al controlador (opcional)
  @param :searchable-value [String] El valor para usar en el filtro (opcional)

:ruby
  local_assigns[:'human-value'] ||= value
  local_assigns[:'send-value'] ||= local_assigns[:'human-value']
  local_assigns[:'searchable-value'] ||= local_assigns[:'human-value'].remove_diacritics.downcase
  local_assigns.delete(:value)

  data   = local_assigns.delete(:data)
  data ||= {}
  data[:'human-value'] = local_assigns.delete(:'human-value')
  data[:'send-value'] = local_assigns.delete(:'send-value')
  data[:'searchable-value'] = local_assigns.delete(:'searchable-value')

%div{ **local_assigns, data: { 'array-target': 'item', value: value, **data } }= yield
