-#
  @param base [String]
  @param locale [String]
  @param post [Post]
  @param site [Site]
  @param dir [String]
  @param except [Array<Symbol>]
- (post.attributes - local_assigns[:except].to_a).each do |attribute|
  - metadata = post[attribute]
  - type = metadata.type

  - cache [metadata, I18n.locale] do
    = render("posts/attributes/#{type}",
             base: base, post: post, attribute: attribute,
             metadata: metadata, site: site,
             dir: dir, locale: locale,
             autofocus: (post.attributes.first == attribute))
