%small.feedback.form-text.text-muted{ id: id_for_help(*attribute) }
  = post_help_t(*attribute, post: post)
.invalid-feedback{ id: id_for_feedback(*attribute) }
  - if metadata.required
    = t('posts.attributes.required.feedback')
  - metadata.errors&.each do |error|
    = error
