-#
  @param inverse [Symbol]
  @param base [String]
  @param locale [String]
  @param post [Post]
  @param site [Site]
  @param dir [String]
- post.attributes.each do |attribute|
  - next if attribute == :date
  - next if attribute == :draft
  - next if attribute == inverse

  - metadata = post[attribute]

  - cache [post, metadata, I18n.locale] do
    = render "posts/attributes/#{metadata.type}",
             base: base, post: post, attribute: attribute,
             metadata: metadata, site: site,
             dir: dir, locale: locale, autofocus: false
