.row.no-gutters.pt-2
  .col-1
    = render 'components/checkbox', id: moderation_queue.first['id']
  .col-11
    -# Filtros
    = render 'components/comments_filters'

- moderation_queue.each do |comment|
  %hr
  = render 'moderation_queue/comment', comment: comment, profile: comment['attributedTo']
    
  -# Botones moderación
  .d-flex
    = render 'components/comments_btn_box'
