-#
  Para el controlador required-checkbox necesitamos un checkbox oculto
  que es obligatorio según si alguno de los checkboxes reales está
  seleccionado o no.  Al ser obligatorio, va a tener feedback de
  validación.  Sin embargo, como está oculto, no podemos mostrar el
  mensaje de validación nativo del navegador.

  @param :required [Boolean]
  @param :name [String,Symbol]
  @param :initial [Boolean]
  @param :feedback [String]
  @param :type [String]

- if required
  - local_assigns[:feedback] ||= t('.required')
  - local_assigns[:type] ||= 'checkbox'

  %input.form-control.d-none{ type: local_assigns[:type], name: name, data: { 'required-checkbox-target': 'required', action: 'invalid->required-checkbox#invalid' }, required: initial }
  .invalid-feedback.mt-0= local_assigns[:feedback]
