.d-flex.flex-column.flex-md-row.align-items-start.mb-3
  %div= submit_tag t('.save'), class: 'btn btn-secondary submit-post'
  = render 'posts/validation', site: site, submitting: { id: submitting }, invalid: { id: invalid }
