- invalid = site.config.fetch('invalid', t('.invalid'))
- submitting = site.config.fetch('submitting', t('.submitting'))
- %i[invalid submitting].each do |key|
  - local_assigns[key] ||= {}
  - local_assigns[key][:data] ||= {}
  - local_assigns[key][:data][:target] ||= "form-validation.#{key}"
  - local_assigns[key][:data][:action] ||= 'notification:show@window->notification#show'
  - local_assigns[key][:data][:controller] ||= 'notification'
  - local_assigns[key][:data][:'notification-hide-class'] ||= 'hide'
  - local_assigns[key][:data][:'notification-show-class'] ||= 'show'

.d-flex.flex-column
  = render 'bootstrap/alert', class: 'm-0 d-none fade', **local_assigns[:invalid] do
    = invalid
  = render 'bootstrap/alert', class: 'm-0 d-none fade', **local_assigns[:submitting] do
    = submitting
