-#
  El formulario sin ninguna decoración, para incluir dentro de otros
  elementos.

  @param :site [Site]
  @param :post [Post]
= render 'posts/htmx_form', site: @site, post: @post, locale: @locale, dir: t("locales.#{@locale}.dir"), base: pluck_param(:base)
