- item_id = random_id

= render 'targets/array/item', value: @value, class: 'mb-2', id: item_id do
  .d-flex.flex-row.flex-wrap
    .flex-grow-1
      = render 'bootstrap/custom_checkbox', name: @name, id: random_id, value: @value, checked: true, content: @value, data: { action: 'required-checkbox#change', 'required-checkbox-target': 'checkbox' }
    %div
      %button.btn.btn-sm.m-0{ data: { action: 'array#remove', 'remove-target-param': item_id } }= t('.remove')
