- dir = @site.data.dig(params[:locale], 'dir')

.row.justify-content-center
  .col-md-8
    %article.content.table-responsive-md
      = link_to t('posts.edit_post'),
                edit_site_post_path(@site, @post.id),
                class: 'btn btn-secondary btn-block'

      = render 'table', dir: dir, site: @site, locale: @locale, post: @post, title: t('.front_matter')
