.row.align-items-center.justify-content-center.full-height
  .col-md-10.align-self-center
    - welcome = @site.config.dig('welcome', 'message') || t('.welcome',
      site: @site.hostname)
    = sanitize_markdown welcome

  .col-md-6.align-self-center
    -# Copiado y pegado de app/views/devise/registrations/new.haml
    - resource = resource_name = @invitade
    = form_for(resource, as: resource_name,
      url: site_collaborate_path(@site),
      method: :post) do |f|
      - unless current_usuarie
        .form-group
          = f.label :email
          = f.email_field :email, autofocus: true, autocomplete: 'email',
            class: 'form-control'
        .form-group
          = f.label :password
          - if @minimum_password_length
            %em
              = t('devise.shared.minimum_password_length',
                count: @minimum_password_length)
          = f.password_field :password, autocomplete: 'new-password',
            class: 'form-control'

      .form-group
        = f.submit t('.submit'), class: 'btn btn-secondary btn-lg btn-block'
