.row
  .col
    = form_tag site_i18n_edit_path(@site), method: :get, class: 'form-inline' do
      %h1
        - if @lang_from == @lang_to
          = t('i18n.edit_same')
          = select_tag 'from', 
            options_for_select(@options, @lang_from),
            class: 'form-control'
          = t('i18n.translate_into')
          = select_tag 'to', 
            options_for_select(@options, @lang_to),
            class: 'form-control'
          = submit_tag t('i18n.translate'), class: 'btn btn-secondary', name: nil
        - else
          = t('i18n.translating.from')
          = select_tag 'from', 
            options_for_select(@options, @lang_from),
            class: 'form-control'
          = t('i18n.translating.to')
          = select_tag 'to', 
            options_for_select(@options, @lang_to),
            class: 'form-control'
          = submit_tag t('i18n.change'), class: 'btn btn-secondary', name: nil

    = render 'layouts/help', help: t('help.i18n.index')


#top.row
  .col

    = form_tag site_i18n_path(@site), method: :post, class: 'form' do
      = hidden_field 'i18n', 'lang_to', value: @lang_to
      .form-group
        .dropdown.inline
          %button.btn.btn-secondary.dropdown-toggle{type: 'button',
            data: { toggle: 'dropdown' },
            aria: { haspopup: 'true', expanded: 'false' }}
            = t('i18n.jump')
          .dropdown-menu{aria: { labelledby: t('i18n.jump') }}
            - @site.data.dig(@lang_from).each_pair do |section, content|
              %a.dropdown-item{href: "##{section}"}= t("help.i18n.#{section}")
        = submit_tag t('i18n.save'), class: 'btn btn-secondary'

      = render 'i18n/recursive', data: @site.data.dig(@lang_from), superkeys: []

      .form-group
        = submit_tag t('i18n.save'), class: 'btn btn-secondary'
