- previous_key ||= ''
- data.each_pair do |key, value|
  - keys = [superkeys, key].flatten
  - unless keys.first == previous_key
    %h2{id: keys.first}
      = t("help.i18n.#{keys.first}")
    %small
      %a.float-md-right{href: '#top'}= t('help.i18n.top')
  - if value.is_a? String
    = render 'i18n/text_field', keys: keys, value: value
  - elsif value.is_a? Hash
    = render 'i18n/recursive', data: value, superkeys: keys,
      previous_key: keys.first
  - elsif value.is_a? Array
    = render 'i18n/recursive_array', data: value, superkeys: keys,
      previous_key: keys.first
