- dir = 'ltr'
- if @lang_to == 'ar'
  - dir = 'rtl'
.form-group
  - key = keys.pop
  -# si la key es numerica, queremos un array de hashes, no un hash de
  -# hashes con keys numericas
  - form_keys = keys.map do |k|
    - if k.is_a? Integer
      - '[]'
    - else
      - "[#{k.to_s}]"
  - form_keys = form_keys.join('')
  - form_help = (keys.size > 0) ? [keys,key].flatten.join('.') : key
  - value_to  = @site.data[@lang_to]
  -# recorrer el hash hasta obtener el valor original
  - [keys,key].flatten.each do |k|
    - if value_to.nil?
      - value_to = ''
      - break
    - value_to = value_to[k]
  -# no especificar el id en una key numerica para que no se genere un
  -# hash en lugar de un array de valores
  - key = '' if key.is_a? Integer
  - value_to = value if value_to.blank?
  = label_tag "i18n[#{@lang_to}]#{form_keys}[#{key}]", value,
    class: (@lang_from == 'ar') ? 'rtl' : 'ltr'
  -# creamos un campo a mano porque los helpers de niveles mas altos
  -# quieren hacer magia con los ids y fallan
  - if value.length > 140
    = text_area_tag "i18n[#{@lang_to}]#{form_keys}[#{key}]", value_to,
      class: "form-control #{dir}"
  - else
    = text_field_tag "i18n[#{@lang_to}]#{form_keys}[#{key}]", value_to,
      class: "form-control #{dir}"
  %small.text-muted.form-text= form_help
