$black: black;
$white: white;
$cyan: #13fefe;

:root {
  --foreground: #{$white};
  --background: #{$black};
  --color: #{$cyan};
  --card-border-color: #{rgba($white, .250)};
  --btn-bg-color: #{$white};
  --btn-color: #{$black};
}

.btn-secondary {
  border: none;
}


