.new-editor {
  .editor {
    .menubar {
      z-index: 1;

      label.btn {
        margin-bottom: 0.3rem !important;
      }

      .btn-group {
        .btn {
          margin-right: 0;
        }
      }
    }

    .ProseMirror,
    & > ol li {
      margin-bottom: 1rem;
    }
  }
}
