= t('.greeting', recipient: @resource.email)
\
= t('.instruction')
\
= edit_password_url(@resource, reset_password_token: @token, change_locale_to: @resource.lang)
\
= t('.instruction_2')
\
= t('.instruction_3')
