- if policy(site).build?
  %div{ 'hx-get': site_button_path(site, class: local_assigns[:class]), 'hx-trigger': 'every 10s', 'hx-swap': 'outerHTML' }
    = form_tag site_enqueue_path(site),
      method: :post,
      class: 'form-inline inline' do
      = submit_tag site.enqueued? ? t('sites.enqueued') : t('sites.enqueue'),
        class: "btn btn-secondary #{local_assigns[:class]}",
        title: site.enqueued? ? t('help.sites.enqueued') : t('help.sites.enqueue'),
        data: { disable_with: t('sites.enqueued') },
        disabled: !site.waiting?
