%main.row
  %aside.col-md-3
    %h1= t('.title')
    %p.lead= t('.help')
    - if policy(Site).new?
      = link_to t('sites.new.title'), new_site_path,
                class: 'btn btn-secondary'

  %section.col
    - if @sites.empty?
      :markdown
        #{t('.welcome')}

    %table.table.table-condensed
      %tbody
        - @sites.each do |site|
          - next unless site.jekyll?

          %tr
            %td
              %h2
                - if policy(site).show?
                  = link_to site.title,
                            site_posts_path(site,
                                            locale: site.default_locale)
                - else
                  = site.title
              %p.lead= site.description
              .d-flex.flex-row
                = link_to t('.visit'), site.url, class: 'btn btn-secondary'
                - if current_usuarie.rol_for_site(site).temporal?
                  = render 'components/btn_base',
                           text: t('sites.invitations.accept'),
                           path: site_usuaries_accept_invitation_path(site),
                           title: t('help.sites.invitations.accept'),
                           class: 'btn-secondary'
                  = render 'components/btn_base',
                           text: t('sites.invitations.reject'),
                           path: site_usuaries_reject_invitation_path(site),
                           title: t('help.sites.invitations.reject'),
                           class: 'btn-secondary'
                - else
                  - if policy(site).show?
                    = render 'layouts/btn_with_tooltip',
                             tooltip: t('help.sites.edit_posts'),
                             type: 'success',
                             link: site_path(site),
                             text: t('sites.posts')
                  = render 'sites/build', site: site
                  = render 'sites/moderation_queue', site: site
                  - if policy(SiteUsuarie.new(site, current_usuarie)).index?
                    = render 'layouts/btn_with_tooltip',
                             tooltip: t('usuaries.index.help.self'),
                             text: t('usuaries.index.title'),
                             type: 'info',
                             link: site_usuaries_path(site)
