!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}/
    %title= blazer_title ? blazer_title : 'Sutty'
    %meta{charset: 'utf-8'}/
    = favicon_link_tag 'blazer/favicon.png'
    = stylesheet_link_tag 'application'
    = javascript_pack_tag 'blazer', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags
  %body{ class: yield(:body) }
    .container-fluid#sutty
      = render 'layouts/breadcrumb'
      = yield
