%tr
  %th.w-100{ scope: 'row' }
    - if local_assigns[:parent_schema]
      %span.text-muted &mdash;
    = schema.humanized_name
  %td.px-0.text-nowrap
    = render 'schemas/add', **local_assigns
    = render 'schemas/filter', **local_assigns

-# XXX: Solo un nivel de recursividad
- unless local_assigns[:parent_schema]
  - schema.schemas.each do |s|
    - next if s.hidden?
    = render 'schemas/row', schema: s, site: site, filter: filter, parent_schema: schema

